<!--
  Title: contact-us.component.html
  Author: Manel Phiseme
  Date: 11 December 2022
  Description: Loan application
-->

<div fxLayout="row wrap" style="background-color: rgba(187, 70, 27, 0.885) ">
    <div fxFlex style="background-color: rgba(187, 70, 27, 0.885)">

            <mat-card-title class="card-title-icon">
                <mat-icon >call</mat-icon>
            </mat-card-title>
            <br/>
            <mat-card-content>
                <p>123 Way-Go Ave st</p>
                <p>Fremont, Ne, 33345</p>
            </mat-card-content>
    </div>

        <div fxFlex>
            <mat-card-title>
                <mat-icon >navigation</mat-icon>
            </mat-card-title>
            <mat-card-content>
                <p>Direct: 132-000-0000</p>
                <p>Tool Free: 188-000-0000</p>
                <p>Fax: 1800-111-111</p>
            </mat-card-content>
        </div>

</div>
