<!--
  Title: base-layout.component.html
  Author: Manel Phiseme
  Date: 11 December 2022
  Description: Loan application
-->
<mat-toolbar style="background-color: hsl(32, 92%, 64%); color: #0b0b0b;">
    <mat-toolbar-row>

        <div fxLayout="row wrap" fxLayoutAlign="end start">
          <button mat-button routerLink="/about">About</button>
          <button mat-button routerLink="/contact">Contact</button>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <br>

  <div fxLayout="row wrap">

    <div fxFlex>

      <mat-card class="main-container mat-elevation-z0" style="background-color: rgba(187, 70, 27, 0.885)">
        <mat-card-title style="text-align: center;">All Loans</mat-card-title>
        <br><br>
        <mat-card-content>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>

    </div>

  </div>
