<!--
  Title: about.component.html
  Author: Manel Phiseme
  Date: 11 December 2022
  Description: Loan application
-->

<div fxLayout="row">
    <div fxFlex>
        <mat-card-title>
            <img src="../../assets/company.png">
        </mat-card-title>
        <mat-card-content>
            <p>All-Loans created by the company All In. All In started in late 2022.
             The company created by young developers who are focused on creating free
             tools for ordinary and professional people. These young developers met at
             a university call Bellevue University. They developed a friendship while
             working on a school project together. They decided to stay in touch after
             realizing that they had the same passions and desires. They believe that the
             world should have more products. A lot of them were able to accomplish school
             assignments by using free products created by other developers. </p>
            <p>With the desire to give back to society, they came together to create the
             company called All In. They called it All In because of the strong conviction
             they have behind starting the company. The first free product that they created
             was called All-Art. All art is like the open-source photo editing software call Gimp.
             The second free application they created is called All Weather. It is a free weather app.
             It is their most popular application. 15,000 people download it from all
             application platforms. The All-Weather website has been visited by more than 30,000
             people within the first 4 months of being released. </p>
            <p>The loan calculator idea came into existence when one of the of the company’s
             member was paying a with credit card loan for years and couldn’t figure out the
             interest he paid so far. Figuring that they might be a common issue, they decided
             to create All-Loans calculator to help some out their stay on top of everything
             that have to do with their loans. Enjoy the application and don’t hesitate to reach
             out to us if you have any questions or concern.</p>

        </mat-card-content>
    </div>
</div>
